{{- /* vim: set ft=gotmpl: */ -}}
{{- $source_fish := joinPath .chezmoi.sourceDir "dot_config" "fish" -}}
{{- $candidate := print (includeTemplate "user-config.tmpl" .) "-config.fish" -}}
{{- $candidate_tmpl := print $candidate ".tmpl" -}}
{{- if or (stat (joinPath $source_fish $candidate)) (stat (joinPath $source_fish $candidate_tmpl)) -}}
{{ $candidate }}
{{- else -}}
no-op.fish
{{- end -}}
