{{- /* vim: set ft=gotmpl: */ -}}
{{- $source_fish := joinPath .chezmoi.sourceDir "dot_config" "fish" -}}
{{- $candidate := print (includeTemplate "user-config.tmpl" .) "-config.fish" -}}
{{- if stat (joinPath $source_fish $candidate) -}}
{{ $candidate }}
{{- else -}}
no-op.fish
{{- end -}}
