{{- /* vim: set ft=gotmpl: */ -}}
{{- $source_tmux := joinPath .chezmoi.sourceDir "dot-tmux" -}}
{{- $environment := lower (env "VVN_DOTFILES_ENVIRONMENT") -}}
{{- $candidate := print "terminal-colors-linux_" $environment ".conf" -}}
{{- if and (ne $environment "") (stat (joinPath $source_tmux $candidate)) -}}
{{ $candidate }}
{{- else -}}
terminal-colors-linux.conf
{{- end -}}
