{{- /* vim: set ft=gotmpl: */ -}}
{{- $source_plugins := joinPath .chezmoi.sourceDir "dot_config" "nvim" "lua" "plugins" -}}
{{- $candidate := print "user-" (includeTemplate "user-config.tmpl" .) -}}
{{- if stat (joinPath $source_plugins $candidate) -}}
{{ $candidate }}
{{- else -}}
no-op
{{- end -}}
