{{- /* vim: set ft=gotmpl: */ -}}
{{- $source_overlays := joinPath .chezmoi.sourceDir "dot-bash" "overlays" -}}
{{- $candidate := print "bashrc-os-" (includeTemplate "os-config.tmpl" .) ".sh" -}}
{{- $candidate_tmpl := print $candidate ".tmpl" -}}
{{- if or (stat (joinPath $source_overlays $candidate)) (stat (joinPath $source_overlays $candidate_tmpl)) -}}
{{ $candidate }}
{{- else -}}
no-op.sh
{{- end -}}
