[Unit]
Description=Hyprland DE dependencies
Documentation=man:systemd.special(7)
RefuseManualStart=no
StopWhenUnneeded=no
After=elephant.service \
      walker.service \
      waybar.service \
      hyprpolkitagent.service \
      hyprpaper.service \
      hypridle.service \
      dropbox.service \
      blueman-applet.service
Wants=elephant.service \
      walker.service \
      waybar.service \
      hyprpolkitagent.service \
      hyprpaper.service \
      hypridle.service \
      dropbox.service \
      blueman-applet.service
